[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.62.0"
uvicorn = "==0.13.1"
asyncpg = "==0.21.0"
tortoise-orm = "==0.16.18"
pytest = "==6.2.0"
requests = "==2.25.0"

[dev-packages]
jedi = "*"
autopep8 = "*"
pylint = "*"
pynvim = "*"

[requires]
python_version = "3.9"
